<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__img">
            <img 
                src="https://tm.ibxk.com.br/2022/05/04/04181551056727.jpg?ims=1200x675" 
                alt=""
                height="150px">
        </div>
    
        <div class="small-card__title">
            <h1>
                <a href="#">Lorem, ipsum dolor.</a>
            </h1>
        </div>
    </div>    
    
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>


