.container__small-card {
    width: 50rem;
    margin-bottom: 1rem;
}

.container__small-card-content {
    display: flex;
    flex-direction: row;
    
}

.small-card__img > img {
    width: 12.5rem;
    min-width: 15.7rem;
    margin-right: 1.25rem;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__small-card__separator {
    margin-top: .7rem;
}