.container__articles {
    margin-top: 1.875rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

header {
    margin-top: .9rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .container__articles {
        flex-direction: column;
    }
    
}
